
@{
}

@model Project



<div class="card card-outline-primary m-1 p-1 bg-opacity-10 bg-dark border-dark border-5">
    <div class="bg-light p-1 border-black">
        <h3 class="card-outline-primary">@Model.Title</h3>

        <span class="badge bg-info" style="float:right">
            <li>Price: $@Model.Price</li>
        </span>
    </div>
    <ul>
        <li>Author: @Model.Author</li>
        <li>Classification: @Model.Classification</li>
        <li>Category: @Model.Category</li>
        <li>Page Count: @Model.PageCount</li>
        <li>ISBN: @Model.Isbn</li>
        <li>Publisher: @Model.Publisher</li>

    </ul>
    <br />

    <form method="post" asp-page="/Donate">
        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Add to Cart</button>
        </span>

    </form>
</div>



