@page
@model Mission09.Pages.DonateModel
@{
}

<h2 class="text-info">Your Cart</h2>

<table class="table table-bordered table-striped center">

    <thead>
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Subtotal</th>
            <th>Edit Cart</th>
        </tr>
    </thead>
    
    <tbody>
        @foreach(var i in Model.basket.Items)
            {
                <tr>
                    <td>@i.Project.Title</td>
                    <td>@i.Quantity</td>
                    <td>@i.Project.Price</td>
                    <td>@(i.Quantity * i.Project.Price)</td>

                    <td class="text-center">
                        <form method="post" asp-page-handler="Remove">
                            <input type="hidden" name="bookId" value="@i.Project.BookId" />
                            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                            <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            }
    </tbody>

    <tfoot class="text-capitalize">
        <tr>
            <td colspan="3" class="text-capitalize">Total: </td>
            <td class="text-capitalize">@Model.basket.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>

</table>

<div class="align-self-auto">
    <a class="btn btn-primary btn-dark btn-outline-info" href="@Model.ReturnUrl">Continue Searching</a>
    <a class="btn btn-primary btn-dark btn-outline-info" asp-controller="Donation" asp-action="Checkout" >Checkout</a>
</div>
